/*
Author: J. Rafid S.
Author URI: www.google.com
Version: 1.0
*/

.breaking_news, .breaking_news:hover, .breaking_news:active, .breaking_news:visited {
    float: center;
    background-color: #ffda07;
    color: #ff0404;
}
